.image_component {
	width: 90vw;
	height: 600px;
	background: #e2e2e2;
	border: 5px dashed #a8a8a8;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: 'Open Sans', sans-serif;
}
